





<style>
.red{
    background-color:red;
}
.green{
    background-color:green;
}
.blue{
    background-color:blue;
}
.black{
    background-color: black;
}
.tan{
    background-color: tan;
}
.brown{
    background-color: brown;
}
.pink{
    color:pink;
}
.teal{
    color:teal;
}
.purple{
    color:purple;
}
.yellow{
    color: yellow;
}
.orange{
    color: orange;
}
.gray{
    color: gray;
}
</style>
</head>
<body>